<form class="form-signin" #f="ngForm" (ngSubmit)="signIn(f.value)">
  <h2 class="form-signin-heading">Login</h2>
  
  <div *ngIf="invalidLogin" class="alert alert-danger">
    Invalid username and/or password.
  </div>

  <label for="email">Email</label>
  <input required pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" ngModel name=email #email="ngModel" id="email" type="email" class="form-control" placeholder="email@domain.com">
  <div class="alert alert-danger" *ngIf="email.touched && !email.valid">
          <div *ngIf="email.errors.required">Email is required</div>
          <div *ngIf="email.errors.pattern">Please enter a valid email account.</div>
  </div>  

  <label for="password">Password</label>
  <input required ngModel name="password"  #password="ngModel" id=password type="password" class="form-control">
  <div class="alert alert-danger" *ngIf="password.touched && !password.valid">Password is required</div>

  <button class="btn btn-primary" >Login</button> 
  <label>Don't have an account? Register <a routerLink="/register">here</a>!</label>
</form>
