<h2>List of Students</h2>
<student-detail [student]="selectedStudent"></student-detail>
<table class="table table-striped table-dark table-sm table-info table-hover">
    <thead>
      <tr class="table-white">
        <th scope="col">Student No.</th>
        <th scope="col">First Name</th>
        <th scope="col">Middle Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Gender</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of studentList" (click)="onSelect(student)"> 
        <!-- <th scope="row">1</th> -->
        <td>{{student.studentNumber}}</td>
        <td>{{student.firstName}}</td>
        <td>{{student.middleName}}</td>
        <td>{{student.lastName}}</td>
        <td>{{student.gender}}</td>
      </tr>
    </tbody>
  </table>

  