
  <!-- <div class="modal"> -->
    <!-- <div class="modal-dialog" *ngIf="student"> -->
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title"> {{firstName}} {{middleName}} {{lastName}} </h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
          <!--  -->
        <!-- Modal body -->
        <div class="modal-body">
          <ul class="list-group">
              <li class="list-group-item" *ngFor="let enrollment of enrollments"> 
                <button class="btn btn-danger" (click)="onClick_RemoveCourse(enrollment)">Remove</button>
                {{enrollment.course.name}} 
              </li>
          </ul>
          <ul class="list-group">
              <li class="list-group-item" *ngFor="let course of courses"> 
                <button class="btn btn-success" (click)="onClick_AddCourse(course)">Enroll</button>
                  {{course.name}}
              </li>
          </ul>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">

          
            <button type="button" class="btn btn-danger" (click)="onClick_UnenrollStudent()">Unenroll Student</button>
        </div>
  
      </div>
    </div>
  <!-- </div> -->
<!-- </div>
 -->
 

<!-- The Modal -->
